BasedOnStyle: LLVM
IndentWidth: 4
BreakBeforeBraces: Allman
ColumnLimit: 100
PointerAlignment: Left
ReferenceAlignment: Left
IndentAccessModifiers: true
AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: All
BreakTemplateDeclarations: Yes
IndentPPDirectives: BeforeHash